@using System.Reflection

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <abbr class="navbar-brand text-success-emphasis">
            Server (@(get_version))
        </abbr>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Настройки
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="hardwires-page">
                        Устройства
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="mqtt-config-page" Match="NavLinkMatch.All">
                        MQTT
                    </NavLink>
                </li>
                @if (IsDebug)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="scripts-page">
                            <MudTooltip Text="Экспериментальная версия">
                                Скрипты
                            </MudTooltip>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="triggers-page">
                            <MudTooltip Text="Экспериментальная версия">
                                Тригеры
                            </MudTooltip>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="cameras-page">
                            <MudTooltip Text="Экспериментальная версия">
                                Камеры
                            </MudTooltip>
                        </NavLink>
                    </li>
                }
            </ul>
            <a target="_blank" class="link-success" href="https://ab-log.ru">
                https://ab-log.ru
            </a>
        </div>
    </div>
</nav>

@code {
    string get_version
    {
        get
        {
            string v = (Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion ?? "error version detect");

            return v.Contains("+") ? v[..v.IndexOf("+")] : v;
        }
    }

#if DEBUG
    bool IsDebug = true;
#else
    bool IsDebug = false;
#endif
}