@page "/hardware-page/{Id:int}"

@inherits BlazorBusyComponentBaseModel

<PageTitle>
    Управляющий блок #@(Id)
</PageTitle>

<h1>Настройка управляющего блока</h1>

<CascadingValue Value="@Id">
    <TabSetComponent>
        <TabComponent Tooltip="Управляющий блок" Title="Управляющий блок">
            <HardwareFormComponent />
        </TabComponent>
        <TabComponent Tooltip="Ретранслятор" Title="Ретранслятор">
            <CascadingValue Value="@("/")">
                <HardwareTranslateMainLayerComponent />
            </CascadingValue>
        </TabComponent>
    </TabSetComponent>
</CascadingValue>