<style>
    #main-left-menu > div > a {
        padding-left: 12px;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ab-log.web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav id="main-left-menu" class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link bi bi-house-door-fill" href="" Match="NavLinkMatch.All">
                &nbsp;Настройки
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi bi-plus-square-fill" href="hardwares-page">
                &nbsp;Устройства
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi bi-list-nested" href="mqtt-config-page">
                &nbsp;MQTT
            </NavLink>
        </div>
        @if (IsDebug)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link bi bi-activity" href="scripts-page">
                    &nbsp;Скрипты
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi bi-alarm" href="triggers-page">
                    &nbsp;Тригеры
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi bi-camera" href="cameras-page">
                    &nbsp;Камеры
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
#if DEBUG
    bool IsDebug = true;
#else
    bool IsDebug = false;
#endif
}