<style>
    #main-left-menu > div > a {
        padding-left: 12px;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ab-log.web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav id="main-left-menu" class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Настройки
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hardwares-page">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Устройства
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mqtt-config-page">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> MQTT
            </NavLink>
        </div>
        @if (IsDebug)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="scripts-page">
                    <span class="bi bi-activity" aria-hidden="true"></span> Скрипты
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="triggers-page">
                    <span class="bi bi-alarm" aria-hidden="true"></span> Тригеры
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cameras-page">
                    <span class="bi bi-camera" aria-hidden="true"></span> Камеры
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
#if DEBUG
    bool IsDebug = true;
#else
    bool IsDebug = false;
#endif
}