@page "/hardwares-page"

@using RazorLib.Shared.hardwares
@using BlazorLib
@using SharedLib

@inject ILogger<HardwaresPage> _loger
@inject IRefitHardwaresService _refit

@inherits BlazorBusyComponentBaseModel

<PageTitle>Устройства</PageTitle>

<h1>Устройства</h1>

<HardwaresListComponent />