@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div style="width: @($"{_width}px");" @onmouseover="() => { navRef?.SetModeNav(false); }" @onmouseleave="() => { navRef?.SetModeNav(true); }" class="sidebar">
        <NavMenu ModeChangeHandle="SetModeNav" @ref="navRef" />
    </div>

    <main>
        <div class="top-row px-4 bg-body-tertiary">
            <a href="https://ab-log.ru" target="_blank">ab-log.ru</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    NavMenu? navRef;
    int _width = 75;

    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    void SetModeNav()
    {
        _width = navRef?.IsShort == true ? 75 : 250;
        StateHasChanged();
    }
}
