@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-body-tertiary">
            <a href="https://ab-log.ru" target="_blank">ab-log.ru</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
