@page "/hardware-page/{Id:int}"
<PageTitle>Управляющий блок #@(Id)</PageTitle>
<h1>Настройка управляющего блока</h1>

<CascadingValue Value="@Id">
    <TabSetComponent>
        <TabComponent Tooltip="Управляющий блок" Title="Управляющий блок">
            <HardwareFormComponent />
        </TabComponent>
        <TabComponent Tooltip="Ретранслятор" Title="Ретранслятор">
            <CascadingValue Value="@("/")" Name="PagePath">
                <HardwareTranslateMainLayerComponent />
            </CascadingValue>
        </TabComponent>
    </TabSetComponent>
</CascadingValue>

@code {
    [Parameter, EditorRequired]
    public int Id { get; set; }
}