@inherits BlazorBusyComponentBaseModel

<style>
    .btn-pointer {
        cursor: pointer;
    }
</style>

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else if (Commands?.Any() == true)
{
    int i = 0;
    int count_commans = Commands.Count();
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Команда</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (EntrySortingModel com in Commands.OrderBy(x => x.Sorting))
            {
                ++i;
                <CommandRowOfListComponent MoveCommandAction="MoveCommandAction" AllowUpMove="@(i > 1)" AllowDownMove="@(i != count_commans)" AllScripts="AllScripts" UpdateCommand="UpdateCommand" ScriptId="ScriptId" @key="com.Id" DeleteCommand="DeleteCommand" AddCommandAct="AddCommand" Command="com" SequenceNumber="@i" />
            }
        </tbody>
    </table>
}
else if (ScriptId > 0)
{
    <div class="d-grid gap-2 mt-3">
        <button @onclick="() => { AddCommand(0); }" class="btn btn-outline-dark" type="button">Добавить команду</button>
    </div>
}
else
{
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>Скрипт не записан.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Команды можно добавлять после <cite title="Source Title">записи скрипта</cite>
        </figcaption>
    </figure>
}