@using RazorLib.Shared.hardwires
@using SharedLib

@inject ILogger<HardwiresBodyComponent> _loger

@inherits BlazorBusyComponentBaseModel

<PageTitle>Устройства</PageTitle>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Устройства</a>
        <div class="d-flex">
            <button @onclick="OpeningToggle" class="btn btn-outline-success" type="submit">Добавить</button>
        </div>
    </div>
</nav>
<br />
<HardwiresListComponent @ref="refCom" />

@if (IsAddingHardware)
{
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" aria-modal="true" role="dialog">
        <div class="offcanvas-header">
            <h5>
                Новый контроллер:
            </h5>
            <button @onclick="OpeningToggle" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <HardwareFormComponent UpdateFormEvent="OpeningToggle" />
        </div>
    </div>
    <div @onclick="OpeningToggle" class="offcanvas-backdrop fade show"></div>
}

@code {
    bool IsAddingHardware = false;

    HardwiresListComponent? refCom;

    void OpeningToggle()
    {
        IsAddingHardware = !IsAddingHardware;
        StateHasChanged();
        if (!IsAddingHardware)
            refCom?.ReloadHardwires();
    }
}