@using System.Text.RegularExpressions;
@using AngleSharp.Html.Parser;
@using AngleSharp.Html.Dom;
@using Microsoft.JSInterop;
@using AngleSharp.Dom;
@using MudBlazor

@inherits BlazorAngleTreeComponentBaseModel

@if (IsBusyProgress)
{
    <span>Парсинг ...</span>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <MudTreeView Items="TreeItems">
            <ItemTemplate>
                <MudTreeViewItem Items="@context.Value!.TreeItems" Text="@context.Value.Title" EndText="@context.Value.ChildElementsCount.ToString()" EndTextTypo="@Typo.caption" />
            </ItemTemplate>
        </MudTreeView>
    </div>
}