@using MudBlazor;
@using SharedLib

@inject ISnackbar _snackbar

<div class="col-auto">
    <div class="input-group">
        <label class="input-group-text" for="inputGroupSelectCommandSetFirst">/?cmd</label>
        <input @bind-value="CommandText" @bind-value:event="oninput" type="text" class="form-control" placeholder="Команда" aria-label="Команда" id="inputGroupSelectCommandSetFirst" />
    </div>
</div>

@code {
    /// <summary>
    /// Обработчик события обновления [команды контроллера] в родителя
    /// </summary>
    [Parameter, EditorRequired]
    public required Action HandlerAction { get; set; }

    /// <summary>
    /// Команда
    /// </summary>
    [Parameter, EditorRequired]
    public required CommandModelDB CurrentCommand { get; set; }

    /// <summary>
    /// Текст команды
    /// </summary>
    public string? CommandText
    {
        get => CurrentCommand?.CommandType switch
        {
            TypesCommandsEnum.Controller => CurrentCommand.ExecutionParameter,
            _ => null
        };

        private set
        {
            if (CurrentCommand is null)
                return;

            bool is_upd = CurrentCommand.ExecutionParameter != value;
            CurrentCommand.ExecutionParameter = value;
            if (is_upd)
                HandlerAction();
        }
    }
}